@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Nova Square',cursive;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#user-interface {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem; 
  margin-top: 40px;
}

#start-quiz-button,
#next-question-button,
li {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 40rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(28,26,26);
  background:linear-gradient(90deg,rgb(65, 8, 84) 0%,rgb(235, 229, 52) 100%);
  border-radius: 6px;
}

#start-quiz-button:hover,
#next-question-button:hover,
li:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(41, 41, 39);
  transition: transform 100ms;
  transform: scale(1.02);
}

li:hover {
  background: linear-gradient(90deg,rgb(36, 89, 98) 0%,rgb(195, 154, 238) 100%);
}

#scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

h1 {
  font-size: 3.4rem;
  color: #fff;
  margin-bottom: 5rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  
  font-size: 3rem;
  min-width: 40rem;
}

li {
  background:linear-gradient(90deg,rgb(171, 191, 194) 0%,rgb(204, 183, 226) 100%);
  text-align: start; 
  padding-left: 3rem;
}

.hide {
  display: none;
}

.progressBar {
  width: 20rem;
  height: 1rem;
  border: 0.2rem solid rgb(11, 223, 36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

.progressBarFull {
  height: 100%;
  background: rgb(11, 223, 36);
  width: 0%;
}

.score {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.centered div p {
  position: absolute;
  top:0px;
  left: 32rem;
  pointer-events: none;
}

.centered div p:hover {
  scale: 1.5;
}

div h1.final {
  color: pink;
  font-size: 2.5rem;
  animation-direction:normal;
  animation-name: rightToLeft;
  animation-duration: 4.5s;
  animation-timing-function:  cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-iteration-count: 0.8;
}

@keyframes rightToLeft {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-160px);
  }
}

.correct {
  background: linear-gradient(90deg,rgb(7, 70, 10) 0%,rgb(75, 126, 80) 100%);
  pointer-events: none;
}

.wrong {
  background: linear-gradient(90deg,rgb(81, 12, 12) 0%,rgb(193, 75, 75) 100%);
  pointer-events: none;
}
